[Desktop Entry]
Version=1.0
Type=Application
Terminal=False
Name[en_US]=Logon Script
Exec=tvcc-3foretag-login
Comment[en_US]=Login
Name=Login
X-GNOME-Autostart-enabled=true
Comment=Logon Script

