[Desktop Entry]
Version=1.0
Type=Application
Terminal=False
Exec=tvcc-3kundservice-reboot
Name=Reboot
Comment=Force Reboot
Icon=/usr/share/icons/hicolor/scalable/actions/system-restart.svg

