[Desktop Entry]
Version=1.0
Type=Application
Terminal=False
Exec=tvcc-televinken-assistance
Name=Assistance
Comment=Get assistance from the Televinken IT Team
Icon=/usr/share/icons/Humanity/apps/48/utilities-system-monitor.svg

